{% extends "base.html" %}
{% block content %}
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
                <div>
                    {{ form.subreddit.label }}
                    {% if form.subreddit.errors %}
                        {{ form.subreddit() }}
                        <div>
                            {% for error in form.subreddit.errors%}
                                <span style="color: red;">{{error}}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.subreddit() }}
                    {% endif %}
                </div>
                <div>
                    {{form.submit()}}
                </div>
        </form>
    </div>
{% endblock content %}